<%- include ('./partials/_header')  %>

    <div class="container mt-3">
        <div class="jumbotron text-center">
            <div class="display-4">About</div>
            <p class="lead">This is a Node/Express app for jotting down ideas for future Youtube videos </p>
            <hr class="my-2">
            <p class="lead">Version 0.0.12</p>
        </div>
    </div>
<%- include ('./partials/_footer')  %> 