<%- include ('./partials/_header')  %>

    <div class="container mt-3">
        <%- include ('./partials/_msg')  %> 
        <div class="jumbotron text-center">
            <div class="display-4">Welcome</div>
            <p class="lead">Jot down ideas for your next You Tube videos</p>
            <a href="#" class="btn btn-dark">Add video idea</a>
        </div>
    </div>
<%- include ('./partials/_footer')  %> 