<div class="container mt-3">
	<div class="jumbotron text-center">
		<div class="display-4">Device Detection</div>
		<p class="lead">Simple NodeJS Application that detect the user's Device</p>
		<p class="lead mt-4 mb-1">
			<strong>OS:</strong> <%= os.name %> <%= os.version %> 
		</p>
		<p class="lead">
			<strong>Browser:</strong> <%= clientInfo.family %> <%= clientInfo.version %> 
		</p>
	</div>
</div>
