<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MongoDB GridFS File Upload</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container">
			<h1 class="display-4 text-center">
				MongoDB GridFS File Upload
			</h1>
			<hr class="my-3" />

			<div class="container">
				<div class="row">
					<div class="col-md-6 m-auto">
						<form
							action="/api/upload"
							class="m-auto"
							method="POST"
							enctype="multipart/form-data"
						>
							<div class="custom-file">
								<input
									name="dbFile"
									type="file"
									class="custom-file-input"
									id="customFile"
								/>
								<label class="custom-file-label" for="customFile">
									Choose file
								</label>
							</div>
							<button class="btn btn-sm btn-primary btn-block my-3">
								Upload
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="alert alert-primary mt-3" role="alert">
				All Type of Files can be uploaded but Only Images are shown here
			</div>
			<hr class="my-3" />
			<div class="container text-center">
				<% if(typeof images != 'undefined') { %> <% if(images.length === 0) { %>
				<p class="lead">No Images Found to Show</p>
				<% } else { %> <% images.forEach(image => { %>
				<div class="container my-3 p-4 border">
					<div class="card m-auto" style="width: 23rem;">
						<a href="/api/images/<%= image.filename %>" target="_blank">
							<img
								style="width: 100%;"
								class="card-img-top"
								src="/api/images/<%= image.filename %>"
								alt="gfs"
							/>
						</a>
						<div class="card-body text-center">
							<p class="lead"><small><%= image.filename %></small></p>
							<form
								action="/api/images/<%= image._id %>?_method=DELETE"
								method="POST"
							>
								<button class="btn btn-sm btn-block btn-danger">
									Delete Image
								</button>
							</form>
						</div>
					</div>
				</div>
				<% }) %> <% } %> <% } %>
			</div>
		</div>
	</body>
</html>
